.topbar {
  position: fixed;
  top: 0px;
  height: 64px;
  width: 100%;
  padding: 0px 180px;
  border-bottom: 2px solid #F0F0F0;
}

@media only screen and (max-width: 1300px) {
  .topbar {
    padding: 0px 60px;
  }
}

.topbar .topbar_inner {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar .topbar_inner .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.topbar_menu_icon {
  display: none;
}

.title-tagline {
  display: inline-block;
}

.ant-menu.topbar_menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .topbar {
    padding: 0px 30px;
  }
  .title-tagline {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .topbar_menu {
    display: none;
  }
  .topbar_menu_icon {
    display: block;
    cursor: pointer;
  }

  .topbar_menu_icon:hover {
    color: #193D9D;
  }
}
